Zad1/spisOwiec.dtd

<?xml version="1.0" encoding="utf-8"?>
<?xml encoding="UTF-8"?>

<!ELEMENT spis_owiec (nagłówek,lista_ras,pastwisko+)>
<!ELEMENT nagłówek (data_modyfikacji,autorzy)>

<!ELEMENT data_modyfikacji (#PCDATA)>
<!ELEMENT autorzy (autor)+>
<!ELEMENT autor (imię,nazwisko,album,mail)>
<!ELEMENT imię (#PCDATA)>
<!ELEMENT nazwisko (#PCDATA)>
<!ELEMENT album (#PCDATA)>
<!ELEMENT mail (alias,znak,domena)>
<!ELEMENT alias (#PCDATA)>
<!ATTLIST alias(203962|204029) #REQUIRED>
<!ELEMENT znak (#CDATA)>
<!ATTLIST znak(@) #REQUIRED>
<!ELEMENT domena (#PCDATA)>
<!ATTLIST domena(edu.p.lodz.pl|p.lodz.pl|info.p.lodz.pl) #REQUIRED>

<!ELEMENT lista_ras (definicja_rasy)+>
  <!ELEMENT definicja_rasy EMPTY>
  <!ATTLIST definicja_rasy
  		nazwa NMTOKENS #IMPLIED
  		identyfikator ID #REQUIRED>

<!ELEMENT pastwisko (nazwa,rasa,powierzchnia,stado)>
<!ELEMENT nazwa (#PCDATA)>
<!ELEMENT rasa EMPTY>
<!ATTLIST rasa kto IDREF #REQUIRED>
<!ELEMENT powierzchnia (jednostka)>

<!ELEMENT stado (owca)+>
<!ELEMENT owca (id,imie,data_ur,plec,waga,dlugosc_runa,opis,
                szybkosc_marszu,szybkosc_zjadania_trawy)>

<!ELEMENT id (#ID)>
<!ELEMENT imie (#PCDATA)>
<!ELEMENT data_ur (#PCDATA)>
<!ELEMENT plec (#PCDATA)>
<!ATTLIST plec(K|M) #REQUIRED>

<!ELEMENT waga (jednostka)>
<!ATTLIST waga jednostka(kg|dkg|funt) #REQUIRED>

<!ELEMENT dlugosc_runa (jednostka)>
<!ATTLIST dlugosc_runa jednostka(mm|cm|cal) #REQUIRED>

<!ELEMENT opis (#PCDATA)>

<!ELEMENT szybkosc_marszu (jednostka)>
<!ATTLIST szybkosc_marszu jednostka(m/s|km/s|km/h) #REQUIRED>

<!ELEMENT szybkosc_zjadania_trawy (#PCDATA)>
<!ATTLIST szybkosc_zjadania_trawy jednostka(talerz/min|miska/min|wiadro/h) #REQUIRED>
